.cart__page-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart__page-btn button a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.cart__page-btn button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background: #243642;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart__page-btn button:hover {
  background: #387478;
  transform: translateY(-2px);
}

.cart__subtotal {
  color: #243642;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .cart__page-btn {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .cart__page-btn button {
    width: 100%;
  }
}