.common__section {
  background: linear-gradient(
    to right,
    var(--primary-dark),
    var(--primary)
  );
  padding: 80px 0px;
}

.common__section h1 {
  color: var(--text-light);
  font-weight: 600;
}