.paginationBttns {
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  list-style: none;
  margin-top: 30px;
}

.paginationBttns a {
  padding: 8px 15px;
  background: #243642;
  color: #fff !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.paginationBttns a:hover {
  background: #387478;
  transform: translateY(-2px);
}

@media only screen and (max-width: 768px) {
  .paginationBttns a {
    padding: 7px 13px;
    font-size: 0.9rem;
  }
}