@import url("./styles/variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-light);
  font-family: "Istok Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
  color: var(--primary-dark);
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--primary-dark);
}

section {
  padding: 60px 0px;
}

.addTOCart__btn {
  border: none;
  padding: 7px 25px;
  background: var(--primary);
  color: var(--text-light);
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.addTOCart__btn:hover {
  background: var(--primary-hover);
  color: var(--text-light);
}

.active__menu {
  color: var(--primary) !important;
}